<header>
      <div class="header-logo">
        <a href="/home/top">testapp</a>
      </div>
       <div class="header-menu">
        <a href="/posts/index">一覧</a>
      </div>
</header>

<h1>あいさつしてみましょう！</h1>