<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/home/top">testapp</a>
      </div>
       <div class="header-menu">
        <a href="/posts/index">一覧</a>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
